{% extends "base.html" %}

{% load staticfiles %}

{% block content %}


<div class="container-fluid">
<!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active"> Social Analytics  /  Google Analytics  </li>
      </ol>
      
      <div class="row">
        <div class="col-12">
          <img src='{% static "general/image/b_ana.png" %}' style="border-left:0; height:100px; width:1130px">
          <p id="helping_txt">&clubs; Hello! {{user.username}}...
            &rarr;For analysing your Blogs in your Blogger account by <b>aMedia Buzz</b>
            , you have to authorize your Blogger Profile via our website and give us proper permission...<br><br>
            <a href="#" onClick="twitterUnderConstruct()">
            	<img src='{% static "general/image/b-a.png" %}' style="background:#FFC515; border-radius:10px; width:30%; height:20%">
            </a>
           </p>
            
        </div>
      </div>
	  				
	  
		
	  <div class="row" id="under-construct-msg">
        <div class="col-12">
          
        </div>
      </div>


</div>


{% endblock %} 



{% block script %}


<script>

function twitterUnderConstruct() {
	 let help = `
		 <ul class="list-group">
			<li class="list-group-item" style="background:#f4a7a7; color:red">
		 		<p id="thanking_txt">&clubs; Hey! {{user.username}}...
         		&rarr;Our Blogger Api v3.0 of aMedia buzz is in under construction. So, Try after some time and stay tuned.... </p>
         	</li>
	     </ul>
         `;
	      
	 let msg = `
		 <img src='{% static "general/image/b_msg.jpg" %}'  style="height:90%; width:100%">
	     `;
	     
	 document.getElementById('helping_txt').innerHTML = help;
	 document.getElementById('under-construct-msg').innerHTML = msg;
}

</script>


{% endblock %} 
