{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="amediabuzz">
  <meta name="author" content="mainak">
  <title>{{title}}</title>
  
  <link rel="icon" href='{% static "favicon.png"  %}' sizes="32x32" type="image/png">
  
  <!-- Bootstrap core CSS-->
  <link href='{% static "general/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href='{% static "general/vendor/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href='{% static "general/vendor/datatables/dataTables.bootstrap4.css" %}' rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href='{% static "general/css/sb-admin.css" %}' rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{% url 'home' %}">
		<img src='{% static "general/image/logo.png" %}' style="border-left:0; height:100%; width:100%">
	</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{% url 'home' %}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="SocialMediaAccess">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Social Analytics</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="{% url 'fb_access' %}">Facebook Analytics</a>
            </li>
            <li>
              <a href="{% url 't_access' %}">Twitter Analytics</a>
            </li>
            <li>
              <a href="{% url 'g_access' %}">Google Analytics</a>
            </li>
            <li>
              <a href="{% url 'b_access' %}">Blogger Analytics</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="{% url 'usage' %}">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Analytics Usages</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="{% url 'feature' %}">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Available Feature</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="{% url 'usage' %}">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Feedback</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown">
            <i class="fa fa-fw fa-user"></i>
			{{user.username}}
			<span class="d-lg-none">User
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="alertsDropdown">
            <a href="#" style="padding-left:6px; text-decoration:none;"><i class="fa fa-user fa-fw"></i> User Profile</a>
            <br>
			<hr>
            <a href="#" style="padding-left:6px; text-decoration:none";><i class="fa fa-gear fa-fw"></i> Settings</a>
            <br>
			<hr>
            <a href="{% url 'logout' %}" style="padding-left:6px; text-decoration:none";><i class="fa fa-sign-out fa-fw"></i> Logout</a>     
          </div>
          </a>
            
        </li>
		
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-bell"></i>
            <span class="d-lg-none">Alerts
            </span>
            <span class="indicator text-warning d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">You have no notifications....</h6>
          </div>
        </li>
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="content-wrapper">
  
  
  {% block content %}{% endblock %}
  
  
  <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © MKMarket Pvt. Ltd. - aMediaBuzz 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
  <!-- /.content-wrapper-->
  </div>
    
    
    <!-- Bootstrap core JavaScript-->
    <script src='{% static "general/vendor/jquery/jquery.min.js" %}'></script>
    <script src='{% static "general/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
    <!-- Core plugin JavaScript-->
    <script src='{% static "general/vendor/jquery-easing/jquery.easing.min.js" %}'></script>
    <!-- Page level plugin JavaScript-->
    <script src='{% static "general/vendor/chart.js/Chart.min.js" %}'></script>
    <script src='{% static "general/vendor/datatables/jquery.dataTables.js" %}'></script>
    <script src='{% static "general/vendor/datatables/dataTables.bootstrap4.js" %}'></script>
    <!-- Custom scripts for all pages-->
    
    
    {% block script %}{% endblock %} 
    
    
    <script src='{% static "general/js/sb-admin.min.js" %}'></script>
    <!-- Custom scripts for this page-->
    <script src='{% static "general/js/sb-admin-datatables.min.js" %}'></script>
    <script src='{% static "general/js/sb-admin-charts.js" %}'></script>
    
</body>

</html>
  
  
  
  