{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

	<style media="screen">

		#fb-login-btn{}
		#helping_txt, #greeting, #fb-profile, #fb-logout-btn, #fb-pages, #fb-feed, #fb-gallery-place, #fb-gallery, #fb-pages-feed{display: none}
    #user-line{display: none}

	</style>

    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active"> Social Media Analysis  /  Facebook Analysis  </li>
      </ol>

      <div class="row">
        <div class="col-12">
          <h1> Facebook Profile Analysis... </h1>
          <p id="helping_txt">Hello! {{user.username}}...
            for analysing your facebook account by <b>aMedia Buzz</b>
            , you have to log in via our website and give us proper permission.... </p>

            <fb:login-button
      		  id="fb-login-btn"
      			scope="public_profile,email,user_birthday,user_hometown,user_location,user_gender,user_friends,user_age_range,user_posts,user_photos,manage_pages,pages_show_list"
      			onlogin="checkLoginState();">
    	  		</fb:login-button>

        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div id="greeting">
          		<div style="float:left">
          		<img src='{% static "general/image/fb.png" %}' style="border-left:0; height:480px; width:280px">
          		  <br><br>

		          <a href="#" id="fb-logout-btn" onclick="logout()">
		          	<img src='{% static "general/image/fb-logout.png" %}' style="margin-left:0; height:78px; width:280px">
		          </a>

          		</div>
          		<div style="padding-top:10px; color:#1365ED">
          			<ul class="list-group">
          				<li class="list-group-item" style="background:#addef6">
          					<h6>Hey! {{user.username}}...
          					Thanks for Logging in your Facebook profile via <b>aMedia Buzz</b>... </h6>
          				</li>
          			</ul>
          		</div>
          </div>
          <br>

          <div id="fb-profile">

          </div>
          <a href="#" id="fb-logout-btn" onclick="logout()" style="float:left">
          	<img src='{% static "general/image/fb-logout.png" %}' style="margin-left:0; height:30px; width:250px">
          </a>

        </div>
      </div><br>


     <div class="row">
        <div class="col-12">
          

          <div id="fb-pages">

          </div>

            
        </div>
      </div><br>

    </div>



    <div id="user-line">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Avaible Schemes According to Your choice...</li>
      </ol>
      <div class="row" id="user-line">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-table"></i>
              </div>
              <div class="mr-5"><h4>Facebook</h4>Recent Timeline Feed&rarr;</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">Table view!</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-list"></i>
              </div>
              <div class="mr-5"><h5>Facebook</h5>Recent Timeline Feed&rarr;</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">Feed View!</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-image"></i>
              </div>
              <div class="mr-5"><h4>Facebook</h4>Recent Photos&rarr;</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">Gallery View!</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>  

      <div class="row" id="feed-view">
        <div class="col-12">

          <div id="fb-feed">

          </div>

        </div>
      </div>
	  <br>

	   <div class="row">
        <div class="col-12">
          <ul class="list-group" id="fb-gallery-place" style="background:#addef6">
          	<li class="list-group-item" style="background:#addef6">

              <div id="fb-gallery">

              </div>

            </li>
           </ul>
        </div>
      </div>

      <div class="row" id="feed-view">
        <div class="col-12">

          <div id="fb-pages-feed">

          </div>

        </div>
      </div> <br>

    </div>


{% endblock %}



{% block script %}



<script>

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '248596589315659',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.1'
    });

    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  function statusChangeCallback(response) {
	  if(response.status == 'connected') {
		  console.log('logged in and authenticated');
		  setElements(true);
		  mkAPI();
	  } else {
		  console.log('Not authenticated');
		  setElements(false);
	  }
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  function mkAPI() {
	  FB.api('me?fields=id,name,email,birthday,hometown,location,gender,friends,age_range', function(response){
		  if(response && !response.error){
			  //console.log(response);
			  buildProfile(response);
		  }
      FB.api('me/accounts?fields=id,name&limit=30', function(response){
        if(response && !response.error){
          //console.log(response);
          buildPageList(response);
        }
      });
		  FB.api('me/feed?fields=message,created_time,description,full_picture,timeline_visibility,privacy&limit=30', function(response){
			  if(response && !response.error){
				  //console.log(response);
				  buildFeed(response);
			  }
		  });
		  FB.api('me/photos?fields=images,link&limit=30', function(response){
			  if(response && !response.error){
				  //console.log(response);
				  buildGallery(response);
			  }
		  });
      FB.api('me/accounts?fields=feed.limit(30){id,message,created_time,description,full_picture,timeline_visibility,privacy},id,name&limit=30', function(response){
        if(response && !response.error){
          //console.log(response);
          buildPageFeed(response);
        }
      });
	  });
  }

  function buildProfile(user){
      let profile = `
        <h3><b>Facebook User:</b> ${user.name}</h3>
        <ul class="list-group">
          <li class="list-group-item" style="background:#d9e7ee"><b>User ID:</b>  ${user.id} </li>
          <li class="list-group-item" style="background:#e5f1f6"><b>Email:</b>  ${user.email} </li>
          <li class="list-group-item" style="background:#d9e7ee"><b>Birthday:</b>  ${user.birthday} </li>
          <li class="list-group-item" style="background:#e5f1f6"><b>Hometown:</b>  ${user.hometown.name} </li>
          <li class="list-group-item" style="background:#d9e7ee"><b>Current Location:</b>  ${user.location.name}</li>
          <li class="list-group-item" style="background:#e5f1f6"><b>Sex:</b>  ${user.gender} </li>
          <li class="list-group-item" style="background:#d9e7ee"><b>No of Facebook Friends:</b>  ${user.friends.summary.total_count} </li>
          <li class="list-group-item" style="background:#e5f1f6"><b>Age:</b>  ${user.age_range.min} </li>
        </ul>
      `;

      document.getElementById('fb-profile').innerHTML = profile;
  }

  function buildPageList(accounts){
      let pages = `<p> Recent Timeline Feeds of User </p>`;
      for(let i in accounts.data){
        if(accounts.data[i].id){
          pages += `
            <p> Recent Timeline Feeds of ${accounts.data[i].name} </p>
          `;
        };
      };

      document.getElementById('fb-pages').innerHTML = pages;
  }

  function buildFeed(feed){
      let output = '<br><h3> Latest User Timeline Posts in Facebook: </h3>';
      for(let i in feed.data){
        if(feed.data[i].message){
          output += `
        	<ul class="list-group">
        	  <a href="http://www.fb.com/${feed.data[i].id}" style="text-decoration:none" target="_blank">

        	  <li class="list-group-item" style="background:#e9f2f6">

        	  	<table>
        	  		<tr>
        	  		 	<td>&reg;<b>Caption of the Post:</b> &nbsp;</td>
        	  			<td> <font style="color:#000000"> ${feed.data[i].message}
        	  						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
        	  		</tr>
        	  	</table>

        	  	<table>
        	  		<tr>
        	  			<td>&rarr;<b>Creation date and time:</b> &nbsp; </td>
        	  			<td> <font style="color:red"> ${feed.data[i].created_time}
        	  						</font></td>
        	  		</tr>
        	  	</table>

        	  	<table>
    	  		<tr>
    	  			<td>&rarr;<b>Description of the Post:</b> &nbsp;</td>
    	  			<td> <font style="color:#000000"> ${feed.data[i].description} </font></td>
    	  		</tr>
	    	  	</table>

		  			<p style="margin-left:240px">&clubs; <b>Static Media(Image) of the Post:</b> &nbsp;</p>
		  			<img src="${feed.data[i].full_picture}"
		  			style="margin-left:260px; border-radius:10px; height:40%; width:50%"
		  			alt="This picture is not Avaiable in Facebook Database">

		  		<table>
        	  		<tr>
        	  		 	<td>&rarr;<b>Timeline Visibility:</b> &nbsp;
        	  				<font style="color:#000000"> ${feed.data[i].timeline_visibility}
        	  						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
        	  			<td style="padding-left: 520px">&rarr;<b>Privacy:</b> &nbsp;
        	  			   <font style="color:red"> ${feed.data[i].privacy.description}
        	  						</font></td>
        	  		</tr>
        	  	</table>

        	  </li>

        	  </a>
            </ul><br>
          `;
        }
      }

      document.getElementById('fb-feed').innerHTML = output;
    }

  function buildGallery(photos){
	  let gallery=`<h3> Recently Uploaded Photos on Facebook: </h3>`;
	  for(let i in photos.data){
	        if(photos.data[i].link){
	          gallery += `
	        	<div style="margin: 5px; float:left; border:1px solid black; border-radius:5px; display:inline-block;">
	        	  <a target="_blank" href="${photos.data[i].link}">
	        	    <img src="${photos.data[i].images[0].source}" alt="Unavailable in facebook Database" width="240px" height="130px">
	        	  </a>
	        	</div>
	           `;
	         }
	  }

	  document.getElementById('fb-gallery').innerHTML = gallery;
  }

  function buildPageFeed(accounts){
    for(let i in accounts.data){
      if(accounts.data[i].id){
        let output = '<br><h3> Latest Timeline Posts of ${accounts.data[i].name} in Facebook: </h3>';
        let f = accounts.data[i];
        for(let j in f.feed.data){
          if(accounts.data[i].feed.data[j].message){
            output += `
                    <ul class="list-group">
                      <a href="http://www.fb.com/${accounts.data[i].feed.data[j].id}" style="text-decoration:none" target="_blank">

                      <li class="list-group-item" style="background:#e9f2f6">

                        <table>
                          <tr>
                            <td>&reg;<b>Caption of the Post:</b> &nbsp;</td>
                            <td> <font style="color:#000000"> ${accounts.data[i].feed.data[j].message}
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
                          </tr>
                        </table>

                        <table>
                          <tr>
                            <td>&rarr;<b>Creation date and time:</b> &nbsp; </td>
                            <td> <font style="color:red"> ${accounts.data[i].feed.data[j].created_time}
                                  </font></td>
                          </tr>
                        </table>

                        <table>
                      <tr>
                        <td>&rarr;<b>Description of the Post:</b> &nbsp;</td>
                        <td> <font style="color:#000000"> ${accounts.data[i].feed.data[j].description} </font></td>
                      </tr>
                      </table>

                      <p style="margin-left:240px">&clubs; <b>Static Media(Image) of the Post:</b> &nbsp;</p>
                      <img src="${accounts.data[i].feed.data[j].full_picture}"
                      style="margin-left:260px; border-radius:10px; height:40%; width:50%"
                      alt="This picture is not Avaiable in Facebook Database">

                    <table>
                          <tr>
                            <td>&rarr;<b>Timeline Visibility:</b> &nbsp;
                              <font style="color:#000000"> ${accounts.data[i].feed.data[j].timeline_visibility}
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
                            <td style="padding-left: 520px">&rarr;<b>Privacy:</b> &nbsp;
                               <font style="color:red"> ${accounts.data[i].feed.data[j].privacy.description}
                                  </font></td>
                          </tr>
                        </table>

                      </li>

                      </a>
                      </ul><br>
                    `;
              }
            }        
        }
      }

      document.getElementById('fb-pages-feed').innerHTML = output;
    }

  function setElements(isLoggedIn) {
	if(isLoggedIn) {
		document.getElementById('helping_txt').style.display = 'none';
		document.getElementById('greeting').style.display = 'block';
		document.getElementById('fb-profile').style.display = 'block';
		document.getElementById('fb-login-btn').style.display = 'none';
		document.getElementById('fb-logout-btn').style.display = 'block';
    document.getElementById('fb-pages').style.display = 'block';
		document.getElementById('fb-feed').style.display = 'block';
		document.getElementById('fb-gallery-place').style.display = 'block';
		document.getElementById('fb-gallery').style.display = 'block';
    document.getElementById('fb-pages-feed').style.display = 'block';
	} else {
		document.getElementById('helping_txt').style.display = 'block';
		document.getElementById('greeting').style.display = 'none';
		document.getElementById('fb-profile').style.display = 'none';
		document.getElementById('fb-login-btn').style.display = 'block';
		document.getElementById('fb-logout-btn').style.display = 'none';
    document.getElementById('fb-pages').style.display = 'none';
		document.getElementById('fb-feed').style.display = 'none';
		document.getElementById('fb-gallery-place').style.display = 'none';
		document.getElementById('fb-gallery').style.display = 'none';
    document.getElementById('fb-pages-feed').style.display = 'none';
	}
  }

  function logout() {
	  FB.logout(function(response){
	  	setElements(false);
	  });
    alert("Thanks for using Facebook Analytics of aMediaBuzz")
  }

</script>

{% endblock %}
