{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

	<style media="screen">
		
		#fb-login-btn{}
		#helping_txt, #greeting, #fb-profile, #fb-logout-btn, #fb-feed, #fb-gallery-place, #fb-gallery{display: none}
		
	</style>
	
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active"> Social Media Analysis  /  Facebook Analysis  </li>
      </ol>
      
      <div class="row">
        <div class="col-12">
          <h1> Facebook Profile Analysis... </h1>
          <p id="helping_txt">Hello! {{user.username}}...
            for analysing your facebook account by <b>aMedia Buzz</b>
            , you have to log in via our website and give us proper permission.... </p>
            
            <fb:login-button 
      		id="fb-login-btn"
  			scope="public_profile,email,user_birthday,user_hometown,user_location,user_gender,user_friends,user_age_range,user_posts,user_photos"
  			onlogin="checkLoginState();">
	  		</fb:login-button>
            
        </div>
      </div>
      
      <div class="row">
        <div class="col-12">
          <div id="greeting">
          		<div style="float:left">
          		<img src='{% static "general/image/fb.png" %}' style="border-left:0; height:480px; width:280px">
          		  <br><br>
          		  
		          <a href="#" id="fb-logout-btn" onclick="logout()">
		          	<img src='{% static "general/image/fb-logout.png" %}' style="margin-left:0; height:78px; width:280px">
		          </a>
          
          		</div>
          		<div style="padding-top:10px; color:#1365ED">
          			<ul class="list-group">
          				<li class="list-group-item" style="background:#addef6">
          					<h6>Hey! {{user.username}}...
          					Thanks for Logging in your Facebook profile via <b>aMedia Buzz</b>... </h6>
          				</li>
          			</ul>
          		</div>
          </div>
          <br>
          
          <div id="fb-profile">
          
          </div>
          <a href="#" id="fb-logout-btn" onclick="logout()" style="float:left">
          	<img src='{% static "general/image/fb-logout.png" %}' style="margin-left:0; height:30px; width:250px">
          </a>
               
        </div>
      </div>
      
      <div class="row">
        <div class="col-12">
        
          <div id="fb-feed">
          
          </div>
          
        </div>
      </div>
	  <br>
	  
	  <div class="row">
        <div class="col-12">
          <ul class="list-group" id="fb-gallery-place" style="background:#addef6">
          	<li class="list-group-item" style="background:#addef6">
          	
              <div id="fb-gallery">
          
              </div>
              
            </li>
           </ul>
        </div>
      </div>
	  
    </div>


{% endblock %} 



{% block script %}



<script>

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '248596589315659',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.1'
    });
      
    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });  
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
 
  
  function statusChangeCallback(response) {
	  if(response.status == 'connected') {
		  console.log('logged in and authenticated');
		  setElements(true);
		  mkAPI();
	  } else {
		  console.log('Not authenticated');
		  setElements(false);
	  }
  }
  
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }
  
  function mkAPI() {
	  FB.api('me?fields=id,name,email,birthday,hometown,location,gender,friends,age_range', function(response){
		  if(response && !response.error){
			  //console.log(response);
			  buildProfile(response);
		  }
		  FB.api('me/feed?fields=message,created_time,description,full_picture,timeline_visibility,privacy&limit=30', function(response){
			  if(response && !response.error){
				  //console.log(response);
				  buildFeed(response);
			  }
		  });
		  FB.api('me/photos?fields=images,link&limit=30', function(response){
			  if(response && !response.error){
				  //console.log(response);
				  buildGallery(response);
			  }
		  });
	  });
  }
  
  function buildProfile(user){
      let profile = `
        <h3><b>Facebook User:</b> ${user.name}</h3>
        <ul class="list-group">
          <li class="list-group-item" style="background:#d9e7ee"><b>User ID:</b>  ${user.id} </li>
          <li class="list-group-item" style="background:#e5f1f6"><b>Email:</b>  ${user.email} </li>
          <li class="list-group-item" style="background:#d9e7ee"><b>Birthday:</b>  ${user.birthday} </li>
          <li class="list-group-item" style="background:#e5f1f6"><b>Hometown:</b>  ${user.hometown.name} </li>
          <li class="list-group-item" style="background:#d9e7ee"><b>Current Location:</b>  ${user.location.name}</li>
          <li class="list-group-item" style="background:#e5f1f6"><b>Sex:</b>  ${user.gender} </li>
          <li class="list-group-item" style="background:#d9e7ee"><b>No of Facebook Friends:</b>  ${user.friends.summary.total_count} </li>
          <li class="list-group-item" style="background:#e5f1f6"><b>Age:</b>  ${user.age_range.min} </li>
        </ul>
      `;
      
      document.getElementById('fb-profile').innerHTML = profile;
  }
  
  function buildFeed(feed){
      let output = '<br><h3> Latest Posts Of Authenticating Facebook User({{user.username}}): </h3>';
      for(let i in feed.data){
        if(feed.data[i].message){
          output += `
        	<ul class="list-group">
        	  <a href="http://www.fb.com/${feed.data[i].id}" style="text-decoration:none" target="_blank">
        	  
        	  <li class="list-group-item" style="background:#e9f2f6">
        	  	
        	  	<table>
        	  		<tr>
        	  		 	<td>&reg;<b>Caption of the Post:</b> &nbsp;</td>
        	  			<td> <font style="color:#000000"> ${feed.data[i].message} 
        	  						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
        	  		</tr>
        	  	</table>
        	  	
        	  	<table>
        	  		<tr>
        	  			<td>&rarr;<b>Creation date and time:</b> &nbsp; </td>
        	  			<td> <font style="color:red"> ${feed.data[i].created_time} 
        	  						</font></td>
        	  		</tr>
        	  	</table>
        	  	
        	  	<table>
    	  		<tr>
    	  			<td>&rarr;<b>Description of the Post:</b> &nbsp;</td>
    	  			<td> <font style="color:#000000"> ${feed.data[i].description} </font></td>
    	  		</tr>
	    	  	</table>
	    	  	
		  			<p style="margin-left:240px">&clubs; <b>Static Media(Image) of the Post:</b> &nbsp;</p>
		  			<img src="${feed.data[i].full_picture}" 
		  			style="margin-left:260px; border-radius:10px; height:40%; width:50%"
		  			alt="This picture is not Avaiable in Facebook Database">
	  		
		  		<table>
        	  		<tr>
        	  		 	<td>&rarr;<b>Timeline Visibility:</b> &nbsp;
        	  				<font style="color:#000000"> ${feed.data[i].timeline_visibility} 
        	  						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
        	  			<td style="padding-left: 520px">&rarr;<b>Privacy:</b> &nbsp; 
        	  			   <font style="color:red"> ${feed.data[i].privacy.description} 
        	  						</font></td>
        	  		</tr>
        	  	</table>
        	  	
        	  </li>
        	  
        	  </a>
            </ul><br>
          `;
        }
      }
       document.getElementById('fb-feed').innerHTML = output;
    }
  
  function buildGallery(photos){
	  let gallery=`<h3> Recently Uploaded Photos on Facebook: </h3>`;
	  for(let i in photos.data){
	        if(photos.data[i].link){
	          gallery += `
	        	<div style="margin: 5px; float:left; border:1px solid black; border-radius:5px; display:inline-block;">
	        	  <a target="_blank" href="${photos.data[i].link}">
	        	    <img src="${photos.data[i].images[0].source}" alt="Unavailable in facebook Database" width="240px" height="130px">
	        	  </a>
	        	</div>
	           `;
	         }
	  }
	  
	  document.getElementById('fb-gallery').innerHTML = gallery;
  }

  function setElements(isLoggedIn) {
	if(isLoggedIn) {
		document.getElementById('helping_txt').style.display = 'none';
		document.getElementById('greeting').style.display = 'block';
		document.getElementById('fb-profile').style.display = 'block';
		document.getElementById('fb-login-btn').style.display = 'none';
		document.getElementById('fb-logout-btn').style.display = 'block';
		document.getElementById('fb-feed').style.display = 'block';
		document.getElementById('fb-gallery-place').style.display = 'block';
		document.getElementById('fb-gallery').style.display = 'block';
	} else {
		document.getElementById('helping_txt').style.display = 'block';
		document.getElementById('greeting').style.display = 'none';
		document.getElementById('fb-profile').style.display = 'none';
		document.getElementById('fb-login-btn').style.display = 'block';
		document.getElementById('fb-logout-btn').style.display = 'none';
		document.getElementById('fb-feed').style.display = 'none';
		document.getElementById('fb-gallery-place').style.display = 'none';
		document.getElementById('fb-gallery').style.display = 'none';
	}
  }
  
  function logout() {
	  FB.logout(function(response){
	  	setElements(false);	  
	  });
  }
  
</script>

{% endblock %}




