{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Available Features in aMedia Buzz</li>
      </ol>
      
      
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Available Social Media Analytics & Controllers in <b>aMedia Buzz</b></div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Analytics Name</th>
                  <th>User</th>
                  <th>Organiser</th>
                  <th>Feature</th>
                  <th>Usage Status</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Analytics Name</th>
                  <th>Current User</th>
                  <th>Organiser</th>
                  <th>Feature</th>
                  <th>Usage Status</th>
                </tr>
              </tfoot>
              <tbody>
                <tr>
                  <td>Facebook Analytics</td>
                  <td>{{user.username}}</td>
                  <td>Facebook</td>
                  <td>Analysing Facebook profile, posts and photos</td>
                  <td>Available</td>
                </tr>
                <tr>
                  <td>Twitter Analytics</td>
                  <td>{{user.username}}</td>
                  <td>Twitter</td>
                  <td>Analysing Twitter profile, and tweets</td>
                  <td>Under Construction</td>
                </tr>
                <tr>
                  <td>Google Business Analytics</td>
                  <td>{{user.username}}</td>
                  <td>Google</td>
                  <td>Analysing Google Analytics properties and generate immediate flow, if autherized user have any</td>
                  <td>Available</td>
                </tr>
                <tr>
                  <td>Blogger Analytics</td>
                  <td>{{user.username}}</td>
                  <td>Google</td>
                  <td>analysing Google Blogger Profile, latest blogs and pages, if autherized user have any</td>
                  <td>Under Construction</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated a minutes ago...</div>
      </div>
</div>


{% endblock %} 



{% block script %}




{% endblock %} 
