{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<style>
	.button {
	  display: inline-block;
	  border-radius: 4px;
	  background-color: #f4511e;
	  border: none;
	  color: #FFFFFF;
	  text-align: center;
	  padding: 7px 20px;
	  width: 250px;
	  transition: all 0.5s;
	  cursor: pointer;
	}
	
	.button:hover {
	  padding-right: 50px;
	  opacity: 1;
	  right: 0;
	}
</style>

<div class="container-fluid">
<!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active"> Social Analytics  /  Google Analytics  </li>
      </ol>
      
      <div class="row">
        <div class="col-12">
          <img src='{% static "general/image/g_ana.png" %}' style="border-left:0; height:90px; width:1130px">
          <p id="helping_txt">&clubs; Hello! {{user.username}}...
            &rarr;For analysing your Google Analytics account by <b>aMedia Buzz</b>
            , you have to authorize your Google Analytics via our website and give us proper permission. 
            So, Kindly click on 'Authorize' button bellow.... </p>
            
           <p id="thanking_txt">&clubs; Hello! {{user.username}}...
            &rarr;Thanks for authenticating your Google Analytics Account.... </p>
        </div>
      </div>
      
	  <div class="row">
	  	<div class="col-12">
	  		<ul class="list-group">
          		<li class="list-group-item" style="background:#FFC515">
          		
	  				<h3>Google Analytics Data Flow:
	  				
	  				<button id="auth-button" class="button">Authorize</button></h3>

	  				<textarea cols="125" rows="16" id="query-output"></textarea>
				</li>
	  		</ul>
	  	</div>
	  </div>

</div>


{% endblock %} 



{% block script %}


<script>

  // Replace with your client ID from the developer console.
  var CLIENT_ID = '627266692166-37ar8vu4t8htoruduvne4s9p6r2r98ji.apps.googleusercontent.com';
  //var CLIENT_SECRET = 'TW5UHF3BPYcSW9WJM4xjhZZI' ;

  // Set authorized scope.
  var SCOPES = ['https://www.googleapis.com/auth/analytics.readonly'];


  function authorize(event) {
    // Handles the authorization flow.
    // `immediate` should be false when invoked from the button click.
    var useImmdiate = event ? false : true;
    var authData = {
      client_id: CLIENT_ID,
      scope: SCOPES,
      immediate: useImmdiate
    };

    gapi.auth.authorize(authData, function(response) {
      var authButton = document.getElementById('auth-button');
      var helping = document.getElementById('helping_txt');
      var thanking = document.getElementById('thanking_txt');
      if (response.error) {
        authButton.hidden = false;
        helping.hidden = false;
        thanking.hidden = true;
      }
      else {
        authButton.hidden = false;
        helping.hidden = true;
        thanking.hidden = false;
        queryAccounts();
      }
    });
  }


function queryAccounts() {
  // Load the Google Analytics client library.
  gapi.client.load('analytics', 'v3').then(function() {

    // Get a list of all Google Analytics accounts for this user
    gapi.client.analytics.management.accounts.list().then(handleAccounts);
  });
}


function handleAccounts(response) {
  // Handles the response from the accounts list method.
  if (response.result.items && response.result.items.length) {
    // Get the first Google Analytics account.
    var firstAccountId = response.result.items[0].id;

    // Query for properties.
    queryProperties(firstAccountId);
  } else {
    console.log('No accounts found for this user.');
  }
}


function queryProperties(accountId) {
  // Get a list of all the properties for the account.
  gapi.client.analytics.management.webproperties.list(
      {'accountId': accountId})
    .then(handleProperties)
    .then(null, function(err) {
      // Log any errors.
      console.log(err);
  });
}


function handleProperties(response) {
  // Handles the response from the webproperties list method.
  if (response.result.items && response.result.items.length) {

    // Get the first Google Analytics account
    var firstAccountId = response.result.items[0].accountId;

    // Get the first property ID
    var firstPropertyId = response.result.items[0].id;

    // Query for Views (Profiles).
    queryProfiles(firstAccountId, firstPropertyId);
  } else {
    console.log('No properties found for this user.');
  }
}


function queryProfiles(accountId, propertyId) {
  // Get a list of all Views (Profiles) for the first property
  // of the first Account.
  gapi.client.analytics.management.profiles.list({
      'accountId': accountId,
      'webPropertyId': propertyId
  })
  .then(handleProfiles)
  .then(null, function(err) {
      // Log any errors.
      console.log(err);
  });
}


function handleProfiles(response) {
  // Handles the response from the profiles list method.
  if (response.result.items && response.result.items.length) {
    // Get the first View (Profile) ID.
    var firstProfileId = response.result.items[0].id;

    // Query the Core Reporting API.
    queryCoreReportingApi(firstProfileId);
  } else {
    console.log('No views (profiles) found for this user.');
  }
}


function queryCoreReportingApi(profileId) {
  // Query the Core Reporting API for the number sessions for
  // the past seven days.
  gapi.client.analytics.data.ga.get({
    'ids': 'ga:' + profileId,
    'start-date': '7daysAgo',
    'end-date': 'today',
    'metrics': 'ga:sessions'
  })
  .then(function(response) {
    var formattedJson = JSON.stringify(response.result, null, 2);
    document.getElementById('query-output').value = formattedJson;
  })
  .then(null, function(err) {
      // Log any errors.
      console.log(err);
  });
}

  // Add an event listener to the 'auth-button'.
  document.getElementById('auth-button').addEventListener('click', authorize);
</script>

<script src="https://apis.google.com/js/client.js?onload=authorize"></script>

{% endblock %} 
