{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

  <head>
  	<meta charset="utf-8">
  	<meta name="description" content="amediabuzz">
 	<meta name="author" content="mainak">
  </head> 
  
  <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Welcome! {{user.username}}</li>
      </ol>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active"> Available Analytics Tools For {{user.username}} </li>
      </ol>
      <!-- Icon Cards-->
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-heartbeat"></i>
              </div>
              <div class="mr-5"><h4>Facebook</h4> Analytics &rarr;</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'fb_access' %}">
              <span class="float-left">Authenticate Now!</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-warning o-hidden h-100"  style="background:skyblue !important">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-comments"></i>
              </div>
              <div class="mr-5"><h4>Twitter</h4> Analytics &rarr;</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 't_access' %}">
              <span class="float-left">Authenticate Now!</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-success o-hidden h-100" style="background:#fdc005 !important">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-pie-chart"></i>
              </div>
              <div class="mr-5"><h5>Google Business</h5> Analytics!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'g_access' %}">
              <span class="float-left">Authenticate Now!</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-image"></i>
              </div>
              <div class="mr-5"><h4>Blogger</h4> Analytics!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'b_access' %}">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
	  
	  
	  
      <div class="row">
      <div class="col-lg-8">
      <!-- Area Chart Example-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> <b>aMedia Buzz</b> Social Analytics Usage history</div>
        <div class="card-body">
          <canvas id="myAreaChart" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
      </div>
         <div class="col-lg-4">
          <!-- Example Pie Chart Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i>Popularity of Analytics </div>
            <div class="card-body">
              <canvas id="myPieChart" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
          

      </div>
      </div>
      
      
          <!-- Example Bar Chart Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bar-chart"></i> Accepted Future Usage Growth of <b>aMedia Buzz</b> in upcoming month</div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-8 my-auto">
                  <canvas id="myBarChart" width="100" height="50"></canvas>
                </div>
                
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
        
		<!-- Up Cards-->
		<ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active"> Upcoming Scoial Media activity Controlling Tools For {{user.username}} </li>
      </ol>
      <!-- Icon Cards-->
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-wrench"></i>
              </div>
              <div class="mr-5"><h4>Facebook</h4> Handler &rarr;</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">Authenticate Now!</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-warning o-hidden h-100"  style="background:skyblue !important">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-wrench"></i>
              </div>
              <div class="mr-5"><h4>Twitter</h4> Handler &rarr;</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">Authenticate Now!</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-wrench"></i>
              </div>
              <div class="mr-5"><h4>Blogger</h4> Handler &rarr;</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
		
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Available Social Media Analytics & Controllers in <b>aMedia Buzz</b></div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Analytics Name</th>
                  <th>User</th>
                  <th>Organiser</th>
                  <th>Feature</th>
                  <th>Usage Status</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Analytics Name</th>
                  <th>Current User</th>
                  <th>Organiser</th>
                  <th>Feature</th>
                  <th>Usage Status</th>
                </tr>
              </tfoot>
              <tbody>
                <tr>
                  <td>Facebook Analytics</td>
                  <td>{{user.username}}</td>
                  <td>Facebook</td>
                  <td>Analysing Facebook profile, posts and photos</td>
                  <td>Available</td>
                </tr>
                <tr>
                  <td>Twitter Analytics</td>
                  <td>{{user.username}}</td>
                  <td>Twitter</td>
                  <td>Analysing Twitter profile, and tweets</td>
                  <td>Under Construction</td>
                </tr>
                <tr>
                  <td>Google Business Analytics</td>
                  <td>{{user.username}}</td>
                  <td>Google</td>
                  <td>Analysing Google Analytics properties and generate immediate flow, if autherized user have any</td>
                  <td>Available</td>
                </tr>
                <tr>
                  <td>Blogger Analytics</td>
                  <td>{{user.username}}</td>
                  <td>Google</td>
                  <td>analysing Google Blogger Profile, latest blogs and pages, if autherized user have any</td>
                  <td>Under Construction</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated a minutes ago...</div>
      </div>
    </div>
    <!-- /.container-fluid-->
    
  
{% endblock %}   
  