{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="amediabuzz">
    <meta name="author" content="Mainak_Kundu">

    <title>{{title}}</title>
    
	<link rel="icon" href='{% static "favicon.png"  %}' sizes="32x32" type="image/png">
	
    <!-- Bootstrap Core CSS -->
    <link href='{% static "index/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet" >

    <!-- Custom Fonts -->
    <link href='{% static "index/vendor/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">
    <link href='{% static "index/vendor/simple-line-icons/css/simple-line-icons.css" %}' rel="stylesheet">

    <!-- Custom CSS -->
    <link href='{% static "index/css/stylish-portfolio.css" %}' rel="stylesheet">

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top" style="color:#000"><b>aMedia Buzz</b></a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">About Us</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#feature">features</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <img src='{% static "index/img/logo.png" %}'>
        <h3 class="mb-5" style="color:#fff">
          <em>Connecting ideas and Social Media</em>
        </h3>
		<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">
		<i class="icon-fire" style="color:#000"></i> About Us</a>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'register' %}">
		<i class="icon-bulb" style="color:#000"></i>Register Now</a>
		<a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'login' %}">
		<i class="icon-lock-open" style="color:#000"></i> Log In</a>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>a<b>Media<b> Buzz is the perfect platform for connecting with innovative iDEAS</h2>
            <p class="lead mb-5">This platform features a flexible, UX friendly user interface to its active members for
            Connecting ideas and social media... </p>
            <a class="btn btn-dark btn-xl js-scroll-trigger" href="#feature">What We Offer</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Features -->
    <section class="content-section bg-primary text-white text-center" id="feature">
      <div class="container">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0"  style="color:#fff">Feature</h3>
          <h2 class="mb-5">What a<b>Media</b> Buzz Offer</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-docs" style="color:#33FFFF"></i>
            </span>
            <h4>
              <strong>Integration</strong>
            </h4>
            <p class="text-faded mb-0">Content on the web is meant to be shared!</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-pencil" style="color:#33FFFF"></i>
            </span>
            <h4>
              <strong>Redesigned</strong>
            </h4>
            <p class="text-faded mb-0">Freshly redesigned for evey bloggers.</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-heart" style="color:#33FFFF"></i>
            </span>
            <h4>
              <strong>Favorited</strong>
            </h4>
            <p class="text-faded mb-0">Millions of Bloggers.
              <i class="fa fa-heart" style="color:#33FFFF"></i>
              a<i>Media</i>Buzz !</p>
          </div>
          <div class="col-lg-3 col-md-6">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-fire" style="color:#33FFFF"></i>
            </span>
            <h4>
              <strong>Harmless</strong>
            </h4>
            <p class="text-faded mb-0">Blogs are useful for our society.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
	
    <footer class="footer text-center">
	<section  id="contact">
      <div class="container">
        <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="#">
              <i class="icon-social-github"></i>
            </a>
          </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; mkProduct.Pvt.Lmt 2017</p>
      </div>
	  </section>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src='{% static "index/vendor/jquery/jquery.min.js" %}'></script>
    <script src='{% static "index/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

    <!-- Plugin JavaScript -->
    <script src='{% static "index/vendor/jquery-easing/jquery.easing.min.js" %}'></script>

    <!-- Custom scripts for this template -->
    <script src='{% static "index/js/stylish-portfolio.min.js" %}'></script>

  </body>

</html>
