{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Analytics Usages of aMedia Buzz</li>
      </ol>
      
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> <b>aMedia Buzz</b> Social Analytics Usage history</div>
        <div class="card-body">
          <canvas id="myAreaChart" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
      
      
      
</div>


{% endblock %} 



{% block script %}




{% endblock %} 
